.localVideo, .remoteVideo, .hostVideo {
    cursor: pointer;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    /* // VIP CSS */
    object-fit: contain;
}

.hostVideo {
    width: 100%;
}

.localVideo, .remoteVideo {
    width: 100%;
    padding: 2px;
    position: relative;
}

.mdi-microphone, .mdi-microphone-off, .mdi-video, .mdi-video-off, .mdi-phone-hangup{
    font-size: 22px;
}

.hidden {
    display: none;
}

.message-span-div {
    width: 100%;
    white-space: normal;
    word-break: break-all;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
}


.mdi-message-text-outline, .mdi-account-multiple-outline {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    display: inline-block;
}

.mdi-account-outline, .mdi-dots-vertical, .mdi-hand {
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    display: inline-block;
}

.text-over-video {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* bottom: 0; */
    bottom: -4px;
    left: 50%;
    width: 100%;
    font-weight: bold;
    font-size: 11px;
    background-color: rgba(1, 1, 1, 0.5);
}

/* ###################################################################### */

.body-container {
    width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.participant {
    width: 25%;
    height: 100%;
}

.slider-container {
    position: relative;
      width: 100%;
      height: 100%;
      overflow-y: auto;
}

.slider-container .local-video {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.slider-container .remote-video-container {
    position: relative;
}

.slider-container .remote-video-player {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .middle-dock {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }

  .top-block {
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .logo-img {
    height: 80%;

    margin-left: 0px;
  }
  .meeting-name {
    padding: 3px 10px 5px;
    color: #fff;
    /* border-radius: 4px;
    border: 0.8px solid rgba(255, 255, 255, 0.712); */
  }

  .video-section {
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.623);
  }

  .video-section video {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .control-panel {
    height: 10%;
    position: relative;
    text-align: center;
    padding: 10px 0;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #212121;
  }

  .add-participant {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-overflow: ellipsis;
    width: 200px;
    font-size: 1rem;
    text-align: left;
  }

  .add-participant i {
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
  }

  .control-buttons {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0 15px;
    box-shadow: 0px 0px 5px 2px rgba(77, 77, 77, 0.274);
    text-align: center;
    transition: all 0.2s ease-out;
    transform: scale(1);
    background-color: #00a9ec;
    cursor: pointer;
}

.control-buttons:hover {
    transform: scale(1.02);
    background-color: #ff353571;
  }

  .control-buttons.active {
    background-color: #ff3535;
  }

  .control-buttons i {
    color: white;
    font-size: 150%;
  }

.side-panel {
    width: 25%;
    position: relative;
    height: 100%;
}

.tab-section {
  height: 100%;
  position: relative;
}

.chat-container {
  height: 100%;
  max-height: 100%;
  position: relative;
}

.chat-section {
  height: calc(100% - 70px);
  max-height: calc(100% - 70px);
  position: relative;
  overflow-y: auto;
  padding: 15px;
}

.chat-head {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 6px;
  background-image: linear-gradient(to bottom right, #00a9ec, #00a9ecb9);
  padding: 5px 10px;
  color: white;
  width: 70%;
}

.chat-head p{
  margin: 0;
}

.chat-head  span {
  font-size: 10px;
}

.chat-head.self{
  margin-right: 10px;
              margin-left: auto;
}

.extra-control {
    position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        cursor: pointer;
}

.input-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -3px 7px 0px #ffffff4f;
  z-index: 4;
  padding: 15px 15px 15px 10px;
  background-color: black;
}


.recording-indicator {
  position: absolute;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff3535;
  animation: blink 2s infinite;
}


.chat-message {
  border: 1px solid;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}
.chat-message:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.host-name {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #fff;
  background-color: rgba(0,0,0,.47);
  padding: 3px 10px;
  border-radius: 6px;
  text-transform: CAPITALIZE;
}

.over-lay-text {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: left;
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-overflow: ellipsis;
  width: 100%;
  background-image: linear-gradient(0deg,rgba(0,0,0,.678431),rgba(0,0,0,.45098),transparent);
}

.local-video-container {
  position: relative;
}

.host-video-container {
  width: 100%;
}

.remote-video-container .controls {
  opacity: 0;
  position: absolute;
  padding: 5px 10px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #80808073;
  transition: all 0.2s ease-out;
}

.remote-video-container .controls i {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 6px;
  margin: 2px;
  color: white;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
}

.remote-video-container .controls i:hover  {
  background-color: #808080b7;
}

.remote-video-container .controls i.active  {
  background-color: #ff3535;
}

.remote-video-container:hover .controls {
    opacity: 1;
}

.mdi-hand {
  color: #ffffff;
  position: absolute;
  top: 5px;
  z-index: 2;
  right: 5px;
  display: none;
  font-size: 120%;
  border: 0.5px solid #c4c4c400;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 100%;
  box-shadow: 1px 1px 9px 2px #0000006b;
  background-color: #000000a6;
}

.screen-share-active-screen {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.screen-share-active-screen-container {
  padding: 3rem;
  border-radius: 10px;
  background-color: #202124;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #111111 !important;
}

#preloader p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  display: inline-block;
  text-align: center;
}

.emojionearea .emojionearea-editor {
  color: #000000;
}