<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="../../assets/js/vendor.min.js"></script>


<!-- Plugins Js -->
<script src="../../assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="../../assets/libs/multiselect/jquery.multi-select.js"></script>
<script src="../../assets/libs/select2/select2.min.js"></script>

 

<!-- Validation js (Parsleyjs) -->
<script src="../../assets/libs/parsleyjs/parsley.min.js"></script>

<!-- validation init -->
<script src="../../assets/js/pages/form-validation.init.js"></script>

<!-- Toastr js -->
<script src="../../assets/libs/toastr/toastr.min.js"></script>
<script src="../../assets/js/pages/toastr.init.js"></script>

<script src="../../assets/libs/moment/moment.js"></script>


<!-- third party js -->
<script src="../../assets/libs/datatables/jquery.dataTables.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.bootstrap4.js"></script>
<script src="../../assets/libs/datatables/dataTables.responsive.min.js"></script>
<script src="../../assets/libs/datatables/responsive.bootstrap4.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.buttons.min.js"></script>
<script src="../../assets/libs/datatables/buttons.bootstrap4.min.js"></script>
<script src="../../assets/libs/datatables/buttons.html5.min.js"></script>
<script src="../../assets/libs/datatables/buttons.flash.min.js"></script>
<script src="../../assets/libs/datatables/buttons.print.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.keyTable.min.js"></script>
<script src="../../assets/libs/datatables/dataTables.select.min.js"></script>


<!-- Datatables init -->
<script src="../../assets/js/pages/datatables.init.js"></script>

<!-- Sweet Alerts js -->
<script src="../../assets/libs/sweetalert2/sweetalert2.min.js"></script>



<!-- App js -->
<script src="../../assets/js/app.min.js"></script>

<!-- socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<!-- WebRTC js libraries -->
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="../../js/webrtc/webrtc_adaptor.js"></script>