<title>Skandha Chat</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- App favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="../../images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
<link rel="manifest" href="../../images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- third party css -->
<link href="../../assets/libs/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="../../assets/libs/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="../../assets/libs/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="../../assets/libs/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Notification css (Toastr) -->
<link href="../../assets/libs/toastr/toastr.min.css" rel="stylesheet" type="text/css" />


<!-- Plugins css -->
<link href="../../assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="../../assets/libs/multiselect/multi-select.css" rel="stylesheet" type="text/css" />
<link href="../../assets/libs/select2/select2.min.css" rel="stylesheet" type="text/css" />

<!-- App css -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/app.min.css" rel="stylesheet" type="text/css" />

<!-- Common CSS -->
<link href="../../stylesheets/style.css" rel="stylesheet">

 <!-- Sweet Alert-->
 <link href="../../assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
