<header id="topnav">
    <div class="navbar-custom">
        <ul class="list-unstyled topnav-menu float-right mb-0">

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#"
                    role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../../images/user.svg" alt="user-image" class="rounded-circle">


                    <% if (name !== '') { %>
                    <span class="pro-user-name ml-1 text-white"><%=name%><i class="mdi mdi-chevron-down"></i></span>
                    <% } else { %>
                    <span class="pro-user-name ml-1">
                        User <i class="mdi mdi-chevron-down text-white"></i>
                    </span>
                    <% } %>

                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

        <!-- LOGO -->
        <div class="logo-box">
            <a href="#" class="logo text-center">
                <span class="logo-lg">
                    <img src="../../images/LogoSkandha.png" alt="" height="50">
                    <!-- <span class="logo-lg-text-light">UBold</span> -->
                </span>
                <span class="logo-sm">
                    <!-- <span class="logo-sm-text-dark">U</span> -->
                    <img src="../../images/LogoSkandha.png" alt="" height="24">
                </span>
            </a>
        </div>

        <ul class="list-unstyled topnav-menu topnav-menu-left m-0">

            <li>
                <button class="button-menu-mobile disable-btn waves-effect">
                    <i class="fe-menu"></i>
                </button>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/v1/video/createMeeting">Conference Call</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/v1/video/VoD">VoD</a>
            </li>
        </ul>

    </div>

</header>