<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('../partials/header.html') -%>

</head>

<body class="p-0" data-username="<%=name%>" data-email="<%=email%>">

  <%- include ('../partials/navbar.html') -%>

  <div id="wrapper" style="padding-top: 70px;background-color: #212121;">

    <div class="container">
      <div class="row mt-3">
        <div class="col-12">
          <table id="list_all_vod_table" class="table table-bordered table-bordered dt-responsive nowrap">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FileSize</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="list_all_vod_tbody">

            </tbody>
          </table>

          <div id="vodVideo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="asset-title"
            aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close close-modal-btn stopVideo" data-dismiss="modal"
                    aria-hidden="true"><i class="mdi mdi-close" style="color: thistle;"></i></button>
                </div>
                <div class="modal-body p-2">
                  <video id="vodplayer" class="w-100" src="" type="video/mp4" controls> </video>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <%- include ('../partials/footer.html') -%>

</body>

<!-- custom js -->
<script src="../../js/VoD/index.js"></script>

</html>