<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('../partials/header.html') -%>

    <!-- custom css -->
    <link href="../../stylesheets/conferenceCall/conferenceCall.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="../../js/emoji/emojionearea.min.css">

</head>

<body data-username="<%=name%>" data-email="<%=email%>">

    <!-- loader -->
    <div class="se-pre-con" id="preloader">
        <p style="color: white; font-size: 24px;">Joining...</p>
    </div>

    <div class="body-container">

        <div class="participant">
            <div class="slider-container" id="players">
                <div class="local-video-container">
                    <video class="local-video" id="localVideo" autoplay muted playsinline></video>
                    <div class="over-lay-text"><%=name%></div>
                </div>
            </div>
        </div>

        <div class="middle-dock">
            <div class="top-block">
                <img class="logo-img" src="../../images/LogoSkandha.png" />
                <div class="meeting-name"></div>
            </div>
            <div class="video-section" id="hostVideoContainer">
                <!-- <video class="host-video-player" id="hostVideo" autoPlay></video>
                                <div class="host-name">
                                </div> -->
                <div class="screen-share-active-screen force-hidden">
                    <div class="row align-items-center h-100">
                        <div class="col-md-6 mx-auto text-center screen-share-active-screen-container">
                            <i class="mdi mdi-arrow-up-box mdi-48px text-white"></i>
                            <h4 class="">You're presenting to everyone</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-panel">
                <div class="add-participant">
                    <i class="mdi mdi-account-plus" title="Add people" data-toggle="modal"
                        data-target=".add-people-modal"></i>
                </div>
                <div class="control-buttons microphoneToggle" onclick="turnMicrophone()">
                    <i class="mdi mdi-microphone-off"></i>
                </div>
                <div class="control-buttons" onclick="leaveRoom()">
                    <i class="mdi mdi-phone-hangup"></i>
                </div>
                <div class="control-buttons cameraToggle" onclick="turnCamera()">
                    <i class="mdi mdi-video-off "></i>
                </div>

                <span class="text-danger label label-success recording-indicator hidden" id="recordingInfo">
                    <i class="mdi mdi-radiobox-marked"></i> Recording
                </span>

                <div class="extra-control">
                    <div class="dropdown float-right">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" id="extra-action-options">
                            <!-- <a href="#" class="dropdown-item screen-share-btn" id="screen-share-btn">Present now</a>
                            <a href="#" class="dropdown-item vod-record-btn" id="vod-record-btn">Start record</a>
                            <a href="#" class="dropdown-item raise-hand-btn" id="raise-hand-btn">Raise hand</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="side-panel">
            <div class="tab-section">
                <div class="chat-container">
                    <div class="chat-section" id="chat-div"></div>
                    <div class="input-wrapper">

                        <!-- <form class="mb-0" id="chat-form" action="" data-parsley-validate="" novalidate="">
                            <div class="input-group">
                                <input type="text" name="chat-message" class="form-control chat-message"
                                    id="chat-message" placeholder="Say something..." autocomplete="off"
                                    parsley-trigger="change" required="">
                                <div class="input-group-append">
                                    <button class="btn send-message-btn" type="submit">
                                        <i class="mdi mdi-send send-message-icon text-white" title="send"></i>
                                    </button>
                                </div>
                            </div>
                        </form> -->

                        <input type="text" name="chat-message" class="form-control chat-message" id="chat-message"
                            placeholder="Say something..." autocomplete="off">

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Add people modal -->
    <div class="modal fade add-people-modal" id="add-people-modal" tabindex="-1" role="dialog"
        aria-labelledby="myCenterModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">Add people</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>

                <form action="" id="addPeopleForm" data-parsley-validate="" novalidate="">
                    <div class="modal-body" style="height:300px">

                        <p>Enter name or email</p>
                        <select class="form-control select2 select2-multiple" id="choose_people" multiple="multiple"
                            multiple name="choose_usr_email[]" autocomplete="off" parsley-trigger="change" required="">
                            <optgroup label="Suggestions" id="user-list">

                            </optgroup>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-info">Send email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include ('../partials/footer.html') -%>

    <script type="text/javascript" src="../../js/emoji/emojionearea.min.js"></script>

</body>

<!-- custom js -->
<script src="../../js/conferenceCall/conferenceCall.js"></script>

<!-- WebRTC js -->
<script src="../../js/conferenceCall/webrtc.js"></script>

</html>