<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ('../partials/header.html') -%>

    <style>

        .conference-room-img {
            background-image: url("../../images/hero-banner.jpg");
            height: calc(100vh - 70px);
            width:100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .create-meeting-overlay {
            position: absolute;
            background-color: #000;
            opacity: .5;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #meetingName {
            color: black;
            background-color: transparent;
        }
    </style>

</head>

<body data-username="<%=name%>" data-email="<%=email%>">

    <%- include ('../partials/navbar.html') -%>

    <div class="wrapper" style="padding-top: 70px;">

        <div class="container-fluid">
            <div class="row align-items-center conference-room-img">

                <div class="create-meeting-overlay"></div>

                <div class="col-md-6">
                </div>
                <div class="col-md-4 mx-auto">

                    <div class="card border-0">
                        <div class="card-header bg-info">
                            <div style="color: white; font-size: 1.5rem;">Join or start a meeting</div>
                        </div>
                        <div class="card-body bg-white">
                            <div class="row justify-content-between align-items-end">
                                <div class="col-md-12">
                                    <form id="create-meeting-form" action='' data-parsley-validate novalidate>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="" style="color: black">Enter the meeting code.</p>
                                                <div class="form-group">
                                                    <input id="meetingName" name="url" placeholder=" "
                                                        class="form-control" type="text" required autocomplete="off">
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-3 text-right">
                                                <button type="submit"
                                                    class="btn btn-info waves-effect btn-sm"><span>Continue</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
             </div>

              </div>
            </div>
        </div>
    </div>

    <%- include ('../partials/footer.html') -%>

    <!-- custom js -->
    <script src="../../js/conferenceCall/createMeeting.js"></script>

</body>

</html>