.vjs-language-switch{
    font-family: 'VideoJS';
    font-weight: normal;
    font-style: normal
}

.vjs-icon-placeholder {
    font-family: 'VideoJS';
    font-weight: normal;
    font-style: normal
}

.vjs-language-switch{
    content: "\F110"
} 

.vjs-icon-placeholder:before {
    content: "\F110"
}